@charset "utf-8";
/* CSS Document */
/*liquid_web.css for a computer */

#wrapper
{
	width: 92%
	margin-left: 20px;
}
#header
{
	min-width:500px;
	height: 50px;
	background-color: #666;
	margin-bottom: 10px;
}


#col1
{
	float: left;
	width: 640px;

	background-color: #999;
	margin-bottom: 10px;
}



#col2
{
	min-width:200px;
	margin: 0 30px 10px 680px;
	background-color: #999;
}

#footer
{
	min-width:500px;
	clear: both;
	height: 50px;
	background-color: #666;
}

h1
{
	margin: 0;
	padding: 5px;
}

h2
{
	margin-top: 0;
	padding-top: 7px;
}

h2, p
{
	margin-left: 7px;
	margin-right: 7px;
}